@model IEnumerable<Police_CaseHelper.Models.Cases>

@{
    ViewData["Title"] = "Cases";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CaseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictimName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charges)
            </th>
            <th>
                Officer Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictimUserName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.CaseID">Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictimName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charges)
                <br/>
                @Html.DisplayFor(modelItem => item.OffenderPlea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerInChargeName)
                <br/>
                @Html.DisplayFor(modelItem => item.OfficerInChargeEmail)
                <br/>
                @Html.DisplayFor(modelItem => item.OfficerInChargePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictimUserName)
            </td>
        </tr>
}
    </tbody>
</table>
